$base03:          #161616 !default; //darkest blue
$base02:          #161616 !default; //dark blue
$base01:          #93959a !default; //darkest gray
$base00:          #657b83 !default; //dark gray
$base0:           #839496 !default; //medium gray
$base1:           #cccccc !default; //medium light gray
$base2:           #eee8d5 !default; //cream
$base3:           #fdf6e3 !default; //white
$solar-yellow:    #e3a055 !default;
$solar-orange:    #db413d !default;
$solar-red:       #ba5bd7 !default;
$solar-magenta:   #e3a055 !default;
$solar-violet:    #6c71c4 !default;
$solar-blue:      #8d5bdb !default;
$solar-cyan:      #ba5bd7 !default;
$solar-green:     #e09cff !default;

$solarized: dark !default;

@if $solarized == light {

  $_base03: $base03;
  $_base02: $base02;
  $_base01: $base01;
  $_base00: $base00;
  $_base0:  $base0;
  $_base1:  $base1;
  $_base2:  $base2;
  $_base3:  $base3;

  $base03:  $_base3;
  $base02:  $_base2;
  $base01:  $_base1;
  $base00:  $_base0;
  $base0:   $_base00;
  $base1:   $_base01;
  $base2:   $_base02;
  $base3:   $_base03;
}

/* non highlighted code colors */
$pre-bg: transparent !default;
$pre-border: none !default;
$pre-color: $base1 !default;


