.profile-image {
	width: 256px;
	height: 256px;
	margin: 0 auto;
	margin-bottom: -1.5em;
	background-repeat: no-repeat;
	background-size: 200px 200px;
	background-image: url(/images/aron_cedercrantz.jpg);
}
@media only screen and (min-width: 550px) {
	.profile-image { float: none; }
}
@media only screen and (min-width: 751px) {
	.profile-image { float: right; }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {
    .profile-image { background-image: url(/images/aron_cedercrantz@2x.jpg); }
}

.get-vcard {
	margin-top: 1em;
	font-size: .875em;
}

$vcard-dt-width: 5em;
$vcard-dd-margin-from-dt: $vcard-dt-width;
.vcard dt {
	float: left;
	padding-right: .5em;
	text-align: right;
	width: $vcard-dt-width;
}
.vcard dd {
	margin-left: $vcard-dd-margin-from-dt;
}
.vcard dt, .vcard dd {
	padding-bottom: .25em;
}
