body > header {
  float: left;
  //border-bottom: 1px solid lighten($text-color-light, 38);
  border-right: 4px solid $title-color;
  text-align: center;
  h1 {
    display: inline-block;
    font-weight: bold;
    margin: 0;
    a, a:visited {
      color: $title-color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
}
